body {
    text-align: center;
    background-image: url("pictures/light-live-background-css.jpg");
}

header {
    background-image: url("pictures/BG2.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    height: 100px;
    padding: 20px 10px 10px 10px;
    border-radius: 30px;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    display: inline-block;
    margin: 10px;
}

.bgBox {
    background-image: url("pictures/HG.png");
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    border-style: ridge;
    display: inline-block;
}

#navbar {
    background: grey;
    height: 20px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: darkblue;
    position: fixed;
    left: 545px;
    top: 0px;
    border-radius: 20px;
    font-size: medium;
}

a {
    color: wheat;
    text-shadow: 1px 1px black;
    opacity: 60%;
}

a:hover {
    color: lightblue;
    opacity: 100%;
    font-size: large;
}

h1 {
    color: white;
    text-shadow: 2px 1px black;
}