body {
    position: relative;
    text-align: center;
    justify-content: center;
    background-image: url("pictures/light-live-background-css.jpg");
}

header {
    background-image: url("pictures/BG2.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    height: 100px;
    padding: 20px 10px 10px 10px;
    border-radius: 30px;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    display: inline-block;
    margin: 10px;
}

#navbar {
    position: absolute;
    top: 20px;
    right: 670px;
    background: grey;
    height: 120px;
    width: 130px;
    padding: 5px;
    border-color: black;
    border-style: outset;
    border-width: 2px;
    border-radius: 100%;
    font-size: medium;
}

.bgBox {
    background-image: url("pictures/HG.png");
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    border-style: ridge;
    display: inline-block;
}

a {
    color: white;
    text-shadow: 1px 1px black;
    opacity: 60%;
    line-height: 1.7;
}

a:hover {
    color: lightblue;
    opacity: 100%;
    font-size: large;
}

h1 {
    color: white;
    text-shadow: 2px 1px black;
}

p {
    color: white;
}

hr {
    width: 180px;
}

#rezeptContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rezeptDiv {
    background-image: url(/pictures/HG.png);
    color: white;
    font-size: small;
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

button:active {
    background-color: lightgray;
}